# Application configuration
SPRING_PROFILES_ACTIVE=local # 'local' for Ollama, 'cloud' for Google Vertex AI

# Database configurations
DB_NAME=fhir_mapping
DB_USER=postgres
DB_PASSWORD=postgres

# AI / LLM Configurations
GOOGLE_VERTEX_AI_KEY=your_google_vertex_ai_key_here
OLLAMA_BASE_URL=http://host.docker.internal:11434
